.flex { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex.columns, .boxcontainer.columns { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.boxcontainer, .boxcontainer > * { -webkit-box-sizing: border-box; box-sizing: border-box; }

.boxcontainer { min-width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin-left: -1.25rem; }
.boxcontainer > * { margin-left: 1.25rem; }
@media only screen and (max-width: 47.98em) { .boxcontainer { width: 100%; margin-left: 0; margin-right: 0; } }
.boxcontainer > .box:not(.margin-0) { margin-left: 1.25rem; }
.boxcontainer > .box.marginleft-0 { margin-left: 0; }
.boxcontainer.nochildmargins > .box { margin: 0; }
.boxcontainer.aligntop { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.boxcontainer.alignmiddle { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.boxcontainer.alignbottom { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
.boxcontainer.aligncenter { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.boxcontainer.alignright { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.boxcontainer.stretchheight { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }
.boxcontainer.justify { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-left: 0; }
.boxcontainer.justify > .box { margin-left: 0; }

.box.one { width: calc(8.3333% - 1.25rem); }
.box.tenths { width: calc(10% - 1.25rem); }
.box.two { width: calc(16.6667% - 1.25rem); }
.box.fifths { width: calc(20% - 1.25rem); }
.box.three { width: calc(25% - 1.25rem); }
.box.four { width: calc(33.3333% - 1.25rem); }
.box.five { width: calc(41.3337% - 1.25rem); }
.box.six { width: calc(50% - 1.25rem); }
.box.seven { width: calc(58.3333% - 1.25rem); }
.box.eight { width: calc(66.6667% - 1.25rem); }
.box.nine { width: calc(75% - 1.25rem); }
.box.ten { width: calc(83.3333% - 1.25rem); }
.box.eleven { width: calc(91.6667% - 1.25rem); }
.box.twelve { width: 100%; }

.boxcontainer.nogutter { margin-left: 0; }
.boxcontainer.nogutter > .box { margin: 0; }
.boxcontainer.nogutter > .box.one { width: 8.3333%; }
.boxcontainer.nogutter > .box.tenths { width: 10%; }
.boxcontainer.nogutter > .box.two { width: 16.6667%; }
.boxcontainer.nogutter > .box.fifths { width: 20%; }
.boxcontainer.nogutter > .box.three { width: 25%; }
.boxcontainer.nogutter > .box.four { width: 33.3333%; }
.boxcontainer.nogutter > .box.five { width: 41.3337%; }
.boxcontainer.nogutter > .box.six { width: 50%; }
.boxcontainer.nogutter > .box.seven { width: 58.3333%; }
.boxcontainer.nogutter > .box.eight { width: 66.6667%; }
.boxcontainer.nogutter > .box.nine { width: 75%; }
.boxcontainer.nogutter > .box.ten { width: 83.3333%; }
.boxcontainer.nogutter > .box.eleven { width: 91.6667%; }
.boxcontainer.nogutter > .box.twelve { width: 100%; }

.flex-grow { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.flex-noshrink { -ms-flex-negative: 0; flex-shrink: 0; }

.flex-stretch { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.flex-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }

.flex-nowrap { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.flex-self-top { -ms-flex-item-align: start; -webkit-align-self: flex-start; align-self: flex-start; }

.flex-self-bottom { -ms-flex-item-align: end; -webkit-align-self: flex-end; align-self: flex-end; }

.flex-self-middle { -ms-flex-item-align: center; align-self: center; }

.middleparent { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }

@media only screen and (max-width: 47.98em) { .mobile-boxcontainer { min-width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
  .boxcontainer, .boxcontainer:not(.mobileretainwidths) > .box.one, .boxcontainer:not(.mobileretainwidths) > .box.tenths, .boxcontainer:not(.mobileretainwidths) > .box.two, .boxcontainer:not(.mobileretainwidths) > .box.fifths, .boxcontainer:not(.mobileretainwidths) > .box.three, .boxcontainer:not(.mobileretainwidths) > .box.four, .boxcontainer:not(.mobileretainwidths) > .box.five, .boxcontainer:not(.mobileretainwidths) > .box.six, .boxcontainer:not(.mobileretainwidths) > .box.seven, .boxcontainer:not(.mobileretainwidths) > .box.eight, .boxcontainer:not(.mobileretainwidths) > .box.nine, .boxcontainer:not(.mobileretainwidths) > .box.ten, .boxcontainer:not(.mobileretainwidths) > .box.eleven, .boxcontainer:not(.mobileretainwidths) > .box.twelve { width: 100%; }
  .boxcontainer:not(.retainmargins):not(.mobile-boxcontainer), .boxcontainer:not(.retainmargins) > .box { margin-left: 0; margin-right: 0; }
  .boxcontainer.mobile-boxcontainer:not(.justify) > .box.mobile-width { margin-left: 1.25rem; }
  .mobile-boxcontainer > .mobile-box.one, .mobile-boxcontainer > .box.mobile-width.mobile-one, .boxcontainer > .mobile-box.one, .boxcontainer > .box.mobile-width.mobile-one { width: calc(8.3333% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.tenths, .mobile-boxcontainer > .box.mobile-width.mobile-tenths, .boxcontainer > .mobile-box.tenths, .boxcontainer > .box.mobile-width.mobile-tenths { width: calc(10% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.two, .mobile-boxcontainer > .box.mobile-width.mobile-two, .boxcontainer > .mobile-box.two, .boxcontainer > .box.mobile-width.mobile-two { width: calc(16.6667% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.fifths, .mobile-boxcontainer > .box.mobile-width.mobile-fifths, .boxcontainer > .mobile-box.fifths, .boxcontainer > .box.mobile-width.mobile-fifths { width: calc(20% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.three, .mobile-boxcontainer > .box.mobile-width.mobile-three, .boxcontainer > .mobile-box.three, .boxcontainer > .box.mobile-width.mobile-three { width: calc(25% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.four, .mobile-boxcontainer > .box.mobile-width.mobile-four, .boxcontainer > .mobile-box.four, .boxcontainer > .box.mobile-width.mobile-four { width: calc(33.3333% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.five, .mobile-boxcontainer > .box.mobile-width.mobile-five, .boxcontainer > .mobile-box.five, .boxcontainer > .box.mobile-width.mobile-five { width: calc(41.3337% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.six, .mobile-boxcontainer > .box.mobile-width.mobile-six, .boxcontainer > .mobile-box.six, .boxcontainer > .box.mobile-width.mobile-six { width: calc(50% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.seven, .mobile-boxcontainer > .box.mobile-width.mobile-seven, .boxcontainer > .mobile-box.seven, .boxcontainer > .box.mobile-width.mobile-seven { width: calc(58.3333% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.eight, .mobile-boxcontainer > .box.mobile-width.mobile-eight, .boxcontainer > .mobile-box.eight, .boxcontainer > .box.mobile-width.mobile-eight { width: calc(66.6667% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.nine, .mobile-boxcontainer > .box.mobile-width.mobile-nine, .boxcontainer > .mobile-box.nine, .boxcontainer > .box.mobile-width.mobile-nine { width: calc(75% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.ten, .mobile-boxcontainer > .box.mobile-width.mobile-ten, .boxcontainer > .mobile-box.ten, .boxcontainer > .box.mobile-width.mobile-ten { width: calc(83.3333% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.eleven, .mobile-boxcontainer > .box.mobile-width.mobile-eleven, .boxcontainer > .mobile-box.eleven, .boxcontainer > .box.mobile-width.mobile-eleven { width: calc(91.6667% - 1.25rem); }
  .mobile-boxcontainer > .mobile-box.twelve, .mobile-boxcontainer > .box.mobile-width.mobile-twelve, .boxcontainer > .mobile-box.twelve, .boxcontainer > .box.mobile-width.mobile-twelve { width: 100%; }
  .mobile-boxcontainer.nogutter > .mobile-box.one, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-one, .boxcontainer.nogutter > .mobile-box.one, .boxcontainer.nogutter > .box.mobile-width.mobile-one { width: 8.3333%; }
  .mobile-boxcontainer.nogutter > .mobile-box.tenths, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-tenths, .boxcontainer.nogutter > .mobile-box.tenths, .boxcontainer.nogutter > .box.mobile-width.mobile-tenths { width: 10%; }
  .mobile-boxcontainer.nogutter > .mobile-box.two, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-two, .boxcontainer.nogutter > .mobile-box.two, .boxcontainer.nogutter > .box.mobile-width.mobile-two { width: 16.6667%; }
  .mobile-boxcontainer.nogutter > .mobile-box.fifths, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-fifths, .boxcontainer.nogutter > .mobile-box.fifths, .boxcontainer.nogutter > .box.mobile-width.mobile-fifths { width: 20%; }
  .mobile-boxcontainer.nogutter > .mobile-box.three, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-three, .boxcontainer.nogutter > .mobile-box.three, .boxcontainer.nogutter > .box.mobile-width.mobile-three { width: 25%; }
  .mobile-boxcontainer.nogutter > .mobile-box.four, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-four, .boxcontainer.nogutter > .mobile-box.four, .boxcontainer.nogutter > .box.mobile-width.mobile-four { width: 33.3333%; }
  .mobile-boxcontainer.nogutter > .mobile-box.five, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-five, .boxcontainer.nogutter > .mobile-box.five, .boxcontainer.nogutter > .box.mobile-width.mobile-five { width: 41.3337%; }
  .mobile-boxcontainer.nogutter > .mobile-box.six, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-six, .boxcontainer.nogutter > .mobile-box.six, .boxcontainer.nogutter > .box.mobile-width.mobile-six { width: 50%; }
  .mobile-boxcontainer.nogutter > .mobile-box.seven, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-seven, .boxcontainer.nogutter > .mobile-box.seven, .boxcontainer.nogutter > .box.mobile-width.mobile-seven { width: 58.3333%; }
  .mobile-boxcontainer.nogutter > .mobile-box.eight, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-eight, .boxcontainer.nogutter > .mobile-box.eight, .boxcontainer.nogutter > .box.mobile-width.mobile-eight { width: 66.6667%; }
  .mobile-boxcontainer.nogutter > .mobile-box.nine, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-nine, .boxcontainer.nogutter > .mobile-box.nine, .boxcontainer.nogutter > .box.mobile-width.mobile-nine { width: 75%; }
  .mobile-boxcontainer.nogutter > .mobile-box.ten, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-ten, .boxcontainer.nogutter > .mobile-box.ten, .boxcontainer.nogutter > .box.mobile-width.mobile-ten { width: 83.3333%; }
  .mobile-boxcontainer.nogutter > .mobile-box.eleven, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-eleven, .boxcontainer.nogutter > .mobile-box.eleven, .boxcontainer.nogutter > .box.mobile-width.mobile-eleven { width: 91.6667%; }
  .mobile-boxcontainer.nogutter > .mobile-box.twelve, .mobile-boxcontainer.nogutter > .box.mobile-width.mobile-twelve, .boxcontainer.nogutter > .mobile-box.twelve, .boxcontainer.nogutter > .box.mobile-width.mobile-twelve { width: 100%; }
  .boxcontainer > .box.mobilefullwidth { width: 100%; }
  .box img:not([width="0"]) { width: 100%; } }

/*# sourceMappingURL=responsiflex.css.map */